<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8.1" />
    </startup>
	<connectionStrings>
		<add name="BdiexamenEntities1" connectionString="metadata=res://*/res://*/Model.ModelEntities.csdl|res://*/Model.ModelEntities.ssdl|res://*/Model.ModelEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-9THLKD3\SQLEXPRESS;initial catalog=Bdiexamen;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
</configuration>